# Maven
target/
**/target/

# Logs
*.log

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Build tools
.mvn/wrapper/maven-wrapper.jar

**/*.class
**/*.jar
**/*.war
**/*.ear

**/.env
**/.env.*